@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

html {
  font-size: 16px;
  line-height: 1.5;
}

html,
body,
*,
*::before,
*::after {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #1a1a1a;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}